alembic==1.10.3
fastapi==0.95.1
fastapi_users==10.4.2
fastapi_users_db_sqlalchemy==5.0.0
jsonify==0.5
psycopg2==2.9.6
pydantic==1.10.7
python-dotenv==1.0.0
Requests==2.29.0
SQLAlchemy==2.0.9
uvicorn
flower
asyncpg
gunicorn
